<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<div class="header">
  {% include './include/header.html' %}
</div>

<div class="row">
  <div class="leftcolumn">
    {% block content %}
    {% endblock %}
  </div>

  <div class="rightcolumn">
    {% include './include/right_column.html' %}
  </div>
</div>

<div class="footer">
  {% include './include/footer.html' %}
</div>

</body>
</html>